Repository lukadfagundes/bwaincell: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint-staged, frontend-lint-staged, backend-typecheck, shared-build

backend-lint-staged:
  name: Backend Lint (ESLint + Prettier)
  entry: bash -c 'cd backend && npx lint-staged --relative'
  language: system
  pass_filenames: false

frontend-lint-staged:
  name: Frontend Lint (Next.js + Prettier)
  entry: bash -c 'cd frontend && npx prettier --write'
  language: system
  pass_filenames: true

backend-typecheck:
  name: Backend TypeScript Type Check
  entry: bash -c 'cd backend && npm run typecheck'
  language: system
  pass_filenames: false

shared-build:
  name: Shared Package Build
  entry: bash -c 'npm run build:shared'
  language: system
  pass_filenames: false

Frontend Fix Complete
  frontend/app/api/budget/transactions/[id]/route.ts
  frontend/app/api/budget/transactions/route.ts
Due: frontend-lint-staged

cil.yml fix
  .github/workflows/ci.yml
Due: none

Deployment yml update
  .github/workflows/deploy-bot.yml
Due: none

Checkpoint
  backend/jest.config.js
Due: backend-lint-staged

Checkpoint
  backend/package.json
  package-lock.json
Due: none

Package Fix
  package-lock.json
  package.json
Due: none

feat: Make it a Quote Command
  CHANGELOG.md
  backend/commands/quote.ts
  backend/tests/unit/commands/quote.test.ts
  backend/tests/unit/utils/imageService.test.ts
  backend/utils/imageService.ts
Due: backend-lint-staged, backend-typecheck

feat(reminder): added monthly and yearly reminder sub commands
  CHANGELOG.md
  backend/commands/remind.ts
  backend/database/models/Reminder.ts
  backend/database/schema.ts
  backend/package.json
  backend/tests/unit/commands/remind.test.ts
  backend/tests/unit/models/Reminder.test.ts
  backend/tests/unit/utils/scheduler.test.ts
  backend/utils/scheduler.ts
  package-lock.json
Due: backend-lint-staged, backend-typecheck

Feat(random date): update to '/random date' command
  .env.example
  CHANGELOG.md
  backend/commands/random.ts
  backend/package.json
  backend/tests/unit/utils/geminiService.test.ts
  backend/utils/geminiService.ts
  package-lock.json
Due: backend-lint-staged, backend-typecheck

Checkpoint
  .env.example
  .gitignore
  1
  backend/commands/events.ts
  backend/database/index.ts
  backend/database/migrations/20260210-create-event-config.js
  backend/database/models/EventConfig.ts
  backend/database/schema.ts
  backend/tests/unit/commands/events.test.ts
  backend/tests/unit/models/EventConfig.test.ts
  backend/tests/unit/utils/dateHelpers.test.ts
  backend/tests/unit/utils/eventsService.test.ts
  backend/tests/unit/utils/scheduler-events.test.ts
  backend/utils/dateHelpers.ts
  backend/utils/eventsService.ts
  backend/utils/scheduler.ts
  frontend/tsconfig.tsbuildinfo
Due: backend-lint-staged, backend-typecheck

Stop Point 2
  backend/package.json
  backend/tests/unit/utils/eventsService.test.ts
  backend/tests/unit/utils/geminiService.test.ts
  backend/utils/eventsService.ts
  backend/utils/geminiService.ts
Due: backend-lint-staged, backend-typecheck

Feat: '/events' functionality added
  .gitignore
  CHANGELOG.md
  backend/commands/random.ts
  backend/tests/unit/utils/eventsService.test.ts
  backend/tests/unit/utils/geminiService.test.ts
  backend/tsconfig.json
  backend/utils/eventsService.ts
  backend/utils/geminiService.ts
  package-lock.json
  package.json
Due: backend-lint-staged, backend-typecheck

feat(gemini): add WNRS-style question generation to GeminiService feat(gemini): add WNRS-style question generation to GeminiService
  backend/utils/geminiService.ts
Due: backend-lint-staged, backend-typecheck

feat(random-question): AI-powered WNRS questions with daily scheduler (#20) feat(random-question): AI-powered WNRS questions with daily scheduler (#20)
  backend/commands/random.ts
  backend/tests/unit/utils/geminiService.test.ts
  backend/utils/interactions/handlers/randomHandlers.ts
  backend/utils/scheduler.ts
Due: backend-lint-staged, backend-typecheck

feat(random-question): AI-powered WNRS questions with daily scheduler (#20) feat(random-question): AI-powered WNRS questions with daily scheduler (#20)
  CHANGELOG.md
Due: none

Major Release: V2.1.0
  .gitignore
  1
  README.md
  backend/README.md
  backend/package.json
  backend/src/README.md
  backend/src/api/server.ts
  backend/utils/interactions/README.md
  docs/README.md
  frontend/README.md
  frontend/app/README.md
  frontend/lib/README.md
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
  shared/package.json
  tests/README.md
Due: backend-lint-staged, backend-typecheck

yml fix
  .github/workflows/deploy-bot.yml
  backend/Dockerfile
  docker-compose.yml
Due: none

Checkpoint
  backend/Dockerfile
Due: none

Yml fix
  backend/Dockerfile
  backend/utils/imageService.ts
Due: backend-lint-staged, backend-typecheck

Yml Test
  docker-compose.yml
Due: none

Yml Backup Fix
  .env.example
  .github/workflows/deploy-bot.yml
  backend/commands/quote.ts
  backend/utils/imageService.ts
  frontend/tsconfig.tsbuildinfo
Due: backend-lint-staged, backend-typecheck

Quote Fix
  backend/Dockerfile
  backend/commands/quote.ts
  backend/package.json
  backend/tests/unit/utils/imageService.test.ts
  backend/utils/imageService.ts
  frontend/package.json
  generate-assets.ts
  package-lock.json
  package.json
Due: backend-lint-staged, backend-typecheck

Quote Fix
  backend/commands/quote.ts
  backend/src/bot.ts
  backend/tests/unit/commands/quote.test.ts
Due: backend-lint-staged, backend-typecheck

Quote Fix
  CHANGELOG.md
  backend/commands/quote.ts
  backend/tests/unit/commands/quote.test.ts
Due: backend-lint-staged, backend-typecheck

fix(database): add syncSequences to repair auto-increment desync (#36)
  CHANGELOG.md
  backend/database/index.ts
  backend/src/bot.ts
  backend/tests/unit/database/syncSequences.test.ts
Due: backend-lint-staged, backend-typecheck

ci(release): add release workflow and deploy only on release publish (#37)
  .github/workflows/deploy-bot.yml
  .github/workflows/release.yml
  CHANGELOG.md
Due: none

feat(bot): announce release notes to Discord on new version deploy (#38)
  .env.example
  CHANGELOG.md
  backend/Dockerfile
  backend/src/bot.ts
  backend/tests/unit/utils/releaseAnnouncer.test.ts
  backend/utils/releaseAnnouncer.ts
Due: backend-lint-staged, backend-typecheck

chore: bump version to v2.1.1
  CHANGELOG.md
  backend/package.json
  frontend/package-lock.json
  package-lock.json
  package.json
Due: none

chore: bump version to v2.1.1
  .github/workflows/release.yml
Due: none

chore: bump version to v2.1.1
  backend/Dockerfile
  backend/utils/releaseAnnouncer.ts
Due: backend-lint-staged, backend-typecheck

feat(tests): add comprehensive test coverage across 33 new test files (#31)
  CHANGELOG.md
  backend/tests/unit/api/middleware/auth.test.ts
  backend/tests/unit/api/middleware/oauth.test.ts
  backend/tests/unit/api/routes/budget.test.ts
  backend/tests/unit/api/routes/health.test.ts
  backend/tests/unit/api/routes/lists.test.ts
  backend/tests/unit/api/routes/notes.test.ts
  backend/tests/unit/api/routes/oauth.test.ts
  backend/tests/unit/api/routes/reminders.test.ts
  backend/tests/unit/api/routes/schedule.test.ts
  backend/tests/unit/api/routes/tasks.test.ts
  backend/tests/unit/api/server.test.ts
  backend/tests/unit/commands/budget.test.ts
  backend/tests/unit/commands/list.test.ts
  backend/tests/unit/commands/note.test.ts
  backend/tests/unit/commands/random.test.ts
  backend/tests/unit/commands/schedule.test.ts
  backend/tests/unit/commands/task.test.ts
  backend/tests/unit/interactions/handlers/listHandlers.test.ts
  backend/tests/unit/interactions/handlers/randomHandlers.test.ts
  backend/tests/unit/interactions/handlers/reminderHandlers.test.ts
  backend/tests/unit/interactions/handlers/selectMenuHandlers.test.ts
  backend/tests/unit/interactions/handlers/taskHandlers.test.ts
  backend/tests/unit/interactions/middleware/errorMiddleware.test.ts
  backend/tests/unit/interactions/middleware/loggingMiddleware.test.ts
  backend/tests/unit/interactions/middleware/rateLimitMiddleware.test.ts
  backend/tests/unit/interactions/middleware/validationMiddleware.test.ts
  backend/tests/unit/interactions/modals/modalHandlers.test.ts
  backend/tests/unit/models/Budget.test.ts
  backend/tests/unit/models/List.test.ts
  backend/tests/unit/models/Note.test.ts
  backend/tests/unit/models/Schedule.test.ts
  backend/tests/unit/models/Task.test.ts
  backend/tests/unit/models/User.test.ts
Due: backend-lint-staged, backend-typecheck

Path conditions:
  backend-lint-staged: any of: ^backend/.*\.(ts|js)$
  frontend-lint-staged: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backend-typecheck: any of: ^backend/.*\.ts$
  shared-build: any of: ^shared/.*\.(ts|js)$
